---
layout: default
title: Shows
---

<div class="shows-container">
    <!-- Upcoming Shows -->
    <h2>Upcoming Shows</h2>
    <div id="future-shows">
        {% assign sorted_shows = site.data.shows | sort: 'date' %}
        {% for show in sorted_shows %}
            {% assign show_date = show.date | date: '%Y-%m-%d' %}
            {% assign current_date = site.time | date: '%Y-%m-%d' %}
            {% if show_date >= current_date %}
                <!-- Future show HTML structure -->
                <div class="show">
                    {% if show.image %}
                        <img src="{{ show.image }}" alt="{{ show.venue }}" class="show-image">
                    {% endif %}
                    <div class="show-details">
                        <p class="date">{{ show.date | date_to_string }}</p>
                        <p class="venue">{{ show.venue }}</p>
                        <p class="location">{{ show.location }}</p>
                        <p class="additional-info">{{ show.info }}</p>
                        <a href="{{ show.eventLink }}" class="ticket-link" target="_blank">Event Link</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Past Shows -->
    <h2>Past Shows</h2>
    <div id="past-shows">
        {% for show in site.data.shows %}
            {% assign show_date = show.date | date: '%Y-%m-%d' %}
            {% assign current_date = site.time | date: '%Y-%m-%d' %}
            {% if show_date < current_date %}
                <!-- Past show HTML structure -->
                <div class="show">
                    {% if show.image %}
                        <img src="{{ show.image }}" alt="{{ show.venue }}" class="show-image">
                    {% endif %}
                    <div class="show-details">
                        <p class="date">{{ show.date | date_to_string }}</p>
                        <p class="venue">{{ show.venue }}</p>
                        <p class="location">{{ show.location }}</p>
                        <p class="additional-info">{{ show.info }}</p>
                        <a href="{{ show.eventLink }}" class="ticket-link" target="_blank">Event Link</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
