<footer>
    <div class="footer-top">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="{{ '/' | relative_url }}">
                <img src="{{ '/assets/img/open-doors-logo.jpg' | relative_url }}" alt="Open Doors" />
            </a>
        </div>

        <!-- Navigation -->
        <nav class="footer-nav">
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/about' | relative_url }}">About</a>
            <a href="{{ '/bios' | relative_url }}">Bios</a>
            <a href="{{ '/music' | relative_url }}">Music</a>
            <a href="{{ '/photos' | relative_url }}">Photos</a>
            <a href="{{ '/shows' | relative_url }}">Shows</a>
            <a href="{{ '/contact' | relative_url }}">Contact</a>
            <a href="https://sites.google.com/view/theopendoors/home" target="_blank">EPK</a>
        </nav>

        <!-- Social Media Icons -->
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=100092872742845" target="_blank"><img src="{{ '/assets/img/facebook.png' | relative_url }}" alt="Facebook"></a>
            <a href="https://www.instagram.com/opendoorsband/" target="_blank"><img src="{{ '/assets/img/instagram.svg' | relative_url }}" alt="Instagram"></a>
            <a href="https://www.youtube.com/channel/UCYk8_nu5Vatte4LjfzJMKsw" target="_blank"><img src="{{ '/assets/img/youtube.png' | relative_url }}" alt="YouTube"></a>
        </div>
    </div>

    <div class="footer-separator"></div>

    <!-- Copyright Section -->
    <div class="footer-bottom">
        <p>©2024 Open Doors. All Right Reserved</p>
    </div>
</footer>
