<header>
    <div class="header-container">
        <!-- Logo -->
        <div class="logo">
            <a href="{{ '/' | relative_url }}">
                <img src="{{ '/assets/img/open-doors-logo.jpg' | relative_url }}" alt="Open Doors" width="201" height="93" />
            </a>
        </div>

        <!-- Navigation -->
        <nav class="site-navigation">
            <ul class="navigation-menu">
                <li><a href="{{ '/' | relative_url }}">Home</a></li>
                <li><a href="{{ '/about' | relative_url }}">About</a></li>
                <li><a href="{{ '/bios' | relative_url }}">Bios</a></li>
                <li><a href="{{ '/music' | relative_url }}">Music</a></li>
                <li><a href="{{ '/photos' | relative_url }}">Photos</a></li>
                <li><a href="{{ '/shows' | relative_url }}">Shows</a></li>
                <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
            </ul>
        </nav>

        <div class="hamburger-menu">
            &#9776;
        </div>
    </div>
</header>
