/* About Page Styles */
.about-page {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: linear-gradient(to right, #43859b 33%, #313131 33%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: slideInFromLeft 1s ease;
}

.right-column {
    flex: 1;
    padding: 20px;
}

.about-image {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /* Keeps the image square */
}

/* Slide in animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Link Styles */
.about-page a {
    color: #139EAD; /* Using the global hover color */
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .about-page {
        flex-direction: column; /* Stack elements vertically */
    }

    .left-column, .right-column {
        padding: 10px;
        text-align: center; /* Center align text for mobile */
    }

    .about-image {
        max-width: 80%; /* Adjust image size for mobile */
        margin: 0 auto; /* Center the image */
    }

    .about-title {
        margin-top: 20px;
    }
}
