/* Header Styles */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Header Container Styles */
.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Logo Styles */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 201px;
    height: 93px;
}

.logo .site-title {
    margin-left: 10px;
}

/* Navigation Styles */
.site-navigation {
    display: flex;
}

.navigation-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation-menu li {
    margin-left: 20px;
}

.navigation-menu a {
    color: white;
    text-decoration: none;
    font-weight: medium;
    font-family: 'Courier Prime', monospace;
}

.navigation-menu a:hover {
    color: #139EAD;
}

/* Hamburger Menu - Initially Hidden */
.hamburger-menu {
    display: none;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    /* Mobile Navigation - Hidden by Default */
    .site-navigation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        z-index: 1000;
    }

    .site-navigation.active {
        display: flex;
    }

    .navigation-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .navigation-menu a {
        font-size: 30px;
        padding: 10px;
    }

    .navigation-menu li {
        margin-bottom: 30px;
    }

    .close-nav {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        z-index: 1001;
    }

    /* Show Hamburger Menu on Mobile */
    .hamburger-menu {
        font-size: 30px;
        position: absolute;
        display: block;
        cursor: pointer;
        top: 20px;
        right: 20px;
        z-index: 3;
    }

    /* Hide Desktop Navigation on Mobile */
    .site-navigation {
        display: none;
    }
}