.shows-container {
    width: 80%;
    margin: 0 auto;
}

.show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.show-image {
    max-height: 300px;
    width: auto;
    order: 2;
    margin-left: 15px;
    border-radius: 10px;
}

.show-details {
    flex-grow: 1;
    order: 1;
}

.date, .venue, .location, .additional-info {
    margin-bottom: 10px;
}

.ticket-link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.ticket-link:hover {
    background-color: #0056b3;
}

.additional-info {
    color: #777;
    font-size: 0.9em;
}

.ticket-link:hover {
    background-color: #0f7a9a;
}
