---
layout: default
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ImageGallery",
  "name": "{{ page.title | escape }}",
  "description": "{{ page.description | escape }}",
  "associatedMedia": [
    {% for image in site.data.gallery_images %}
    {
      "@type": "ImageObject",
      "url": "{{ image.url | absolute_url }}",
      "description": "{{ image.alt | escape }}",
      "thumbnailUrl": "{{ image.url | replace: '.jpg', '-thumb.jpg' | absolute_url }}"
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>

{{ content }}